# BEGIN PLOPBOX
Options -Indexes +FollowSymlinks
ErrorDocument 404 /plopbox/templates/404.html
ErrorDocument 403 /plopbox/templates/403.html
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_URI} !^.*favicon.ico
RewriteCond %{REQUEST_URI} !^.*/plopbox/
RewriteCond %{REQUEST_URI} !^.*/plopbox/images/
RewriteCond %{REQUEST_URI} !^.*/plopbox/jquery/
RewriteCond %{REQUEST_URI} !^.*/plopbox/style.css
RewriteRule .* index.php
RewriteRule .*pbconf.ini index.php
RewriteRule .*favicon.ico plopbox/images/controls/favicon.gif
# END PLOPBOX
