/* PlopBox Filebrowser Stylesheet */

/* Fonts */
@import url('//fonts.googleapis.com/css?family=Oswald');
@import url('//fonts.googleapis.com/css?family=Poiret+One');
@import url('//fonts.googleapis.com/css?family=Ubuntu+Mono:700');

/* Header Elements */
.header {
  position:fixed;
  z-index:3;
  background-image:url("/plopbox/images/controls/headerbg.png");
  background-position:center;
  width:100%;
  height:50px;
  border-bottom:2px solid #bfbfbf;
  box-shadow:0px 3px 5px grey;
}

.logo {
  position:fixed;
  display:inline;
  top:11px;
  margin-left:10px;
  font-family:'Poiret One';
  font-size:45px;
  text-shadow: 1px 2px 3px grey;
}

.controlsrow {
position:relative;
float:right;
padding:8px;
width:auto;
}

.path {
  position:fixed;
  z-index:2;
  min-width:630px;
  font-family:"Ubuntu Mono";
  height:23px;
  width:100%;
  background-color:#edf1f5;
  border-bottom:1px solid lightgrey;
  margin-top:50px;
  padding-left:10px;
  padding-top:3px;
}

.columns {
  position:absolute;
  display:block;
  z-index:1;
  font-family:"Ubuntu Mono";
  margin-top:73px;
  min-width:630px;
  border-bottom:2px solid #d9d9d9;
  width:100%;
  height:28px;
  background-color:white;
}

.cname {
  display:inline;
  position:relative;
  float:left;
  top:5px;
  left:55px;
}

.ctime {
  display:inline;
  position:relative;
  float:right;
  top:5px;
  right:31%;
  width:auto;
}

.csize {
  display:inline;
  position:relative;
  float:right;
  clear:right;
  top:5px;
  right:20px;
  margin-top:-16px;
  width:auto;
}

/* Dialog Boxes */

.dialogbox {
    top: 0; left: 0; bottom: 0; right: 0;
	position:fixed;
	margin:auto;
	width:300px;
	height:150px;
	background-color: lightgray;
  box-shadow:0px 1px 9px black;
  border:1px solid black;
	z-index:5;
}

.titlebar {
  position:absolute;
  display:inline;
  left:0;
  top:0;
  padding-top:2px;
  width:298px;
  height:22px;
  background-image:url("/plopbox/images/controls/headerbgplain.png");
  border-bottom:1px solid darkgrey;
  font-family:"Ubuntu Mono";
  font-size:.95em;
}

.fileclose {
position: absolute;
  right:1px;
  top:1px;
	width:20px;
}

.boxwrapper {
position: relative;
top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index:3;
}

.dimthelights {
z-index:4;
position:fixed;
margin:-28px;
top:-5px;
width:110%;
height:110%;
opacity:0.8;
visibility:hidden;
background-color:black;
}

/* File Index Elements */

.wrapper {
  position:relative;
	padding-top:83px;
	width:100%;
  height:auto;
  min-height:90%;
  min-width:630px;
  overflow:visible;
  background-color:#f2f2f2:
}

.entry {
  display:block;
  width:auto;
  height:43px;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  background-color:#f2f2f2;
  border-bottom:1px solid #e6e6e6;
  -webkit-transition:background 300ms ease;
     -moz-transition:background 300ms ease;
      -ms-transition:background 300ms ease;
       -o-transition:background 300ms ease;
          transition:background 300ms ease;
}

.entry:hover {
  background-color:#d9d9d9;
}

.dirempty {
  text-align:center;
  display:block;
  margin-top:100px;
  font-size:75pt;
}

.selectors {
  display:block;
  position:absolute;
  visibility:hidden;
  float:left;
  width:auto;
  margin-top:10px;
}

.icon {
  display:block;
  position:absolute;
  width:auto;
  margin-left:15px;
}

.name {
  display:inline;
  position:relative;
  float:left;
  left:53px;
  margin-top:8px;
  width:auto;
}

.mtime {
  display:inline;
  position:relative;
  float:right;
  right:30%;
  margin-top:8px;
  width:auto;
}

.size {
  display:inline;
  position:relative;
  float:right;
  clear:right;
  right:12px;
  margin-top:-16px;
  width:auto;
}

.sizefactor {
  display:inline;
  font-size:.75em;
}

.footer {
  position:absolute;
  display:block;
  width:100%;
  min-width:630px;
	text-align:center;
	font-size:.75em;
  padding-bottom:5px;
  bottom:auto;
}

/* Login Page */

.loginfailure {
  position:fixed;
  display:inline-block;
  text-align:center;
  font-family:"Ubuntu Mono";
  color:#e6e6e6;
  margin-top:-13px;
  box-shadow:0px 3px 13px rgba(0, 0, 0, 0.4);
  border-radius:10px;
  border-bottom: 2px solid darkred;
  background:#a82424;
  padding:17px;
  width:100%;
  height:40px;
  z-index:11;
}

.loginlogo {
  position:relative;
  display:inline-block;
  margin:auto;
  color:#4d4d4d;
  font-family:'Poiret One';
  font-size:80px;
  text-shadow: 1px 2px 3px black;
  top: -70px; left: 0; bottom: 0; right: 0;
  z-index:11;
}

.spotlight{
  display:inline;
  overflow:hidden;
  position:absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color:white;
  margin:auto;
  box-shadow: 0 0 50px 50px black, inset 0 0 200px 100px black;
  opacity:0.07;
  width:60%;
  height:150%;
  border-radius:50%;
  z-index:10;
}

.clouds {
    background-repeat: repeat;
    background-image: url("/plopbox/images/controls/clouds.png");
    background-position:center;
  height:100%;
  width:100%;
  display:inline;
  position:absolute;
  overflow:hidden;
  opacity:0.07;
  min-height:630px;
  min-width:650px;
}

.loginpage {
  width:100%;
  height:100%;
  min-height:630px;
  min-width:630px;
  overflow:hidden;
  display:inline;
  position:absolute;
}

.loginbox {
  top: 0; left: 0; bottom: 0; right: 0;
position:fixed;
margin:auto;
width:300px;
height:240px;
background-color:#f2f2f2;
box-shadow:0px 6px 13px rgba(0, 0, 0, 0.4);
border-radius:10px;
border:1px solid #666666und;
z-index:11;
}

.loginboxwrapper {
  position: relative;
  top: 50%;
      left: 50%;
      margin-right: -50%;
  	transform: translate(-50%, -50%);
  	z-index:11;
}

.loginpagebackground {
  position:absolute;
  display:inline;
  background: linear-gradient(0deg, #d5c9b3, #5783a7);
background-size: 400% 400%;
opacity:0.9;
-webkit-animation: loginpage 120s ease infinite;
-moz-animation: loginpage 120s ease infinite;
animation: loginpage 120s ease infinite;
	width:100%;
  height:100%;
  min-height:630px;
  min-width:650px;
  overflow:hidden;
}

@-webkit-keyframes loginpage {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@-moz-keyframes loginpage {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@keyframes loginpage {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}

.loginform{
    max-width:300px;
    margin:50px auto;
    margin-top:-9px;
    border-radius:2px;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow:visible;
}

.loginform ul{
    list-style:none;
    padding:0;
    margin:0;
}
.loginform li{
    display: block;
    padding: 9px;
    border:1px solid #808080;
    margin-bottom: 30px;
    border-radius: 3px;
}
.loginform li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.loginform li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #f2f2f2;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #808080;
    font-size: 14px;
    overflow: visible;
    font-family: Arial, Helvetica, sans-serif;
}
.loginform input[type="text"],
.loginform input[type="date"],
.loginform input[type="datetime"],
.loginform input[type="email"],
.loginform input[type="number"],
.loginform input[type="search"],
.loginform input[type="time"],
.loginform input[type="url"],
.loginform input[type="password"],
.loginform textarea,
.loginform select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    background-color:#f2f2f2;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.loginform input[type="text"]:focus,
.loginform input[type="date"]:focus,
.loginform input[type="datetime"]:focus,
.loginform input[type="email"]:focus,
.loginform input[type="number"]:focus,
.loginform input[type="search"]:focus,
.loginform input[type="time"]:focus,
.loginform input[type="url"]:focus,
.loginform input[type="password"]:focus,
.loginform textarea:focus,
.loginform select:focus
{
}
.loginform li > span{
    background: #808080;
    display: block;
    padding: 0.2px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.loginform textarea{
    resize:none;
}
.loginform input[type="submit"],
.loginform input[type="button"]{
    background-image:url("/plopbox/images/controls/headerbgplain.png");
    background-position:bottom;
    border: none;
    border-left:1px solid lightgrey;
    border-right:1px solid lightgrey;
    padding: 10px 15px 10px 15px;
    border-bottom: 3px solid #808080;
    border-radius: 5px;
    color: #808080;
    font-weight:900;
    margin-top:-15px;
}
.loginform input[type="submit"]:hover,
.loginform input[type="button"]:hover{
    background-image:url("/plopbox/images/controls/headerbg.png");
    color:#4d4d4d;
    border-bottom: 3px solid #5994FF;
    border-left:1px solid #b3cdff;
    border-right:1px solid #b3cdff;
}

/* Misc */

* {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	       box-sizing: border-box;
}

html {
	min-height:100%;
  min-width:650px;
	color:#61666c;
	font-weight:400;
	font-size:1em;
	font-family:'Oswald';
	line-height:1em;
}
body {
	-webkit-backface-visibility:hidden;
}
code {
	font-family:consolas,monospace;
}
a {
	color:#61666c;
	text-decoration:none;
}
a:hover {
	color:#2a2a2a;
}
