<div class="loginpage">
  <div align="Center" id="createpubox" class="loginbox">
    <div class="loginlogo">plopbox</div>
    <div class="loginboxwrapper">
      Create Primary User Account
      <form class="loginform" id="puform">
        <input id="createputoken" type="hidden" name="logintoken" data-value="token">
        <ul><li><label for="username">Username</label><input type="text" autocomplete="new-username" name="puusername" id="puusername" maxlength="20"></li>
          <li><label for="password">Password</label><input type="password" autocomplete="new-password" name="pupassword" id="pupassword" maxlength="32"></li>
          <li><input id="pusubmit" type="button" value="Create User"></li>
        </ul>
      </form>
    </div>
  </div>
</div>
<div class="loginpagebackground"></div>
<div class="clouds"></div>
