<div class="loginpage">
<div align="Center" id="createpubox" class="loginbox"><div class="loginlogo">plopbox</div>
<div class="loginboxwrapper">
Create Primary User Account<form class="loginform" action="' . $host . '" method="post" enctype="multipart/form-data">
<input id="createputoken" type="hidden" name="putoken" value="" data-value="token">
<ul><li><label for="username">Username</label><input type="text" autocomplete="new-username" name="puusername" id="puusername" maxlength="20"></li>
<li><label for="password">Password</label><input type="password" autocomplete="new-password" name="pupassword" id="pupassword" maxlength="32"></li>
<li><input type="submit" value="Create User"></li></ul></form></div></div></div>
<div class="loginpagebackground"></div>
<div class="clouds"></div>
<a class="simplemodelogin" href="/?simple=true">Activate Simple Mode (Turn CSS &amp; JS Off)</a>
