<script type="text/javascript" src="/plopbox/jquery/jquery-1.12.1.min.js"></script>
<script type="text/javascript">
function uploadopen() {
    document.getElementById("uploadbox").style.visibility = "visible";
	document.getElementById("dimthelights").style.visibility = "visible";
}
function uploadclose() {
    document.getElementById("uploadbox").style.visibility = "hidden";
	document.getElementById("dimthelights").style.visibility = "hidden";
}
function newfolderopen() {
    document.getElementById("newfolderbox").style.visibility = "visible";
	document.getElementById("dimthelights").style.visibility = "visible";
}
function newfolderclose() {
    document.getElementById("newfolderbox").style.visibility = "hidden";
	document.getElementById("dimthelights").style.visibility = "hidden";
}
function msgclose() {
    document.getElementById("msg").style.visibility = "hidden";
}
function selectionmodeon() {
  document.getElementsByClassName("selectors").style.visibility = "visible";
}
function selectionmodeoff() {
  document.getElementsByClassName("selectors").style.visibility = "hidden";
}
</script>
<div id="dimthelights" class="dimthelights" style="visibility:hidden;"></div>
