<div class="loginpage">
  <div align="Center" id="loginbox" class="loginbox">
    <div class="loginlogo">plopbox</div>
    <div class="loginboxwrapper">
      <form class="loginform" id="loginform">
        <ul><li><label for="username">Username</label><input type="text" autocomplete="new-username" name="username" id="username" maxlength="20"><span>Forgot your Username?</span></li>
          <li style="margin-bottom:6px;"><label for="password">Password</label><input type="password" autocomplete="new-password" name="password" id="password" maxlength="32"><span>Forgot your Password?</span></li>
          <li><input id="loginsubmit" type="button" value="Log In"></li></ul></form>
        </div></div></div>
<div class="loginpagebackground"></div>
<div class="clouds"></div>
